.card {
    position: relative;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1); 
}

.card:hover .likeButton {
    opacity: 1;
}

.box {
    position: relative;
    width: 225px;
    height: 225px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box img {
    display: block;
    width: 100%; 
    transition: transform 0.3s ease;
}

.box img:hover {
    transform: scale(1.1);
}

.likeButton {  
    position: absolute; 
    bottom: 15px;  
    left:72%; 
    background: transparent;   
    border: none; 
    cursor: pointer;  
    width: 48px; 
    height: 48px;    
    opacity: 0;  
    transition: opacity 0.3s ease;
  } 

  .heartIcon {  
    cursor: pointer;   
}  

.background {  
    fill: transparent;  
    transition: fill 0.3s ease;  
}  

.path {  
    fill: none; 
    stroke: #F24E1E;  
    stroke-width: 3; 
    transition: stroke 0.3s ease;   
}  

.heartIcon:hover .background {  
    fill: #F24E1E; 
}  

.background.active {  
    fill: #F24E1E; /* Цвет заполнения, когда у .background есть класс .active */  
  }  

.heartIcon:hover .path {  
    stroke: #F24E1E;  
}  